
.navbar{ background:#F97300;}

.nav-link , .navbar-brand{
    color: #302f2f; 
    cursor: pointer;
}

.nav-link:hover{ background: rgb(227, 250, 252); color: #f97300; }

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  background:#fff;}

.main-content {
    margin-top:20vh;
    width: 80vw;
    position: absolute;
    left: 50%;
    margin-left: -40vw;
}

.accordion {
    cursor: pointer;
}
