<html>
<body>
    {{template navbar}}

    <div class="card bg-light" id="input">
        <!--TODO: record new item, send to server: DONE-->
        <input type="text" id="newItem" placeholder="enter item here">
        <button type="button" id="addItem">add</button>
    </div>
    <div id = "items">
        <ul id = "list">
            <!--load all items-->
            {{range .}}
                <li>{{.Name}} - {{.Item}}
                    <button type="button" class="listButton" id="{{.ID}}">del</button>
                </li>
            {{end}}
        </ul>
    </div>
    <div>
        <a href="/viewSellers">Send to Shop</a>
    </div>
    <!--scripts here-->
    <!--JQUERY-->
    <script defer src ="/files/JQuery/jquery-3.5.1.js"></script>
    <script defer src ="/files/JS/customerPage.js"></script>
    <!--custom js-->
    <!--scripts end here-->
</body>
</html>