<html>
    <body>
        <div class="role">
            <form id = "user" action="/" method="GET">
                <input type="checkbox" value="family">
                <input type="checkbox" value="seller">
                <input type="text" placeholder="family_name" value="fname">
                <input type="text" placeholder="user_name" value="uname">
                <input type="submit" value="submit" >
        </div>
    </body>
</html>