<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/files/JQuery/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/files/bootstrap/css/bootstrap.min.css">
    <script src="/files/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/files/stylesheets/sellerPage.css">
    <script src="/files/JS/customerPage.js"></script> 
    
    <!--TODO: replace cdn of icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!--Navbar-->
    {{template "sellerNavbar"}}
    
    <div class="main-content">
        
        <!--LIST-->
        <div class="card">
            <!--shop address--> 
            {{$shop := .Shop}}
            <div class="card-header">
                <!--user group info-->
                <h3>{{$shop.Name}}</h3>
                {{$shop.Addr}}
                <br>
                {{$shop.OpenTime}}-{{$shop.CloseTime}}
            </div>
        </div>
        <!--end shop address--> 
        <!--show all received orders-->
        <div class="accordion">
            {{range $i, $shoppingList := .List}}
            <div class="card w-80">
                <div class="card-header" data-toggle="collapse" data-target="#body{{$i}}">
                    <h5>
                        {{$shoppingList.FamilyName}}
                    </h5>
                </div>
                
                <div class="collapse" id="body{{$i}}">
                    <div class="card-body">
                        {{range $shoppingList.Items}}
                        {{.}},
                        {{end}}
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        
    </div>
    <!---LIST END-->
</body>
</html>