<html>
<body>
    <div>
        <h2>
            Sellers in you area
        </h2>
    </div>
    <ul>
        {{range .}}
        <div class="listSellers">
            <li id="{{.Name}}" >
                {{.Name}}, 
                {{.Addr}},
                {{.OpenTime}}-{{.CloseTime}}
            </li>
        </div>
        {{end}}
    </ul>
    <!--scripts-->
    <script defer src="/files/jquery-3.5.1.js"></script>
    <script defer src="/files/viewSellers.js"></script>
</body>
</html>